/* .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  } */

* {
  margin: 0;
  padding-bottom: 0;
}

.app-detail-body{
  height: 100vh;
  overflow-y: hidden;
}

.app-detail-author{
  position: relative;
  top: '0';
  left: '0 ';
  width: 50%;
  background-color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400px;
  color: #FB7F4B;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.app-detail-author:hover{
  overflow: visible;
}