.btn{
   /* Take button */
   border-radius: 50px;
   width: 150px;
   height: 35px;
   background-color: #8172D5;
   color: white;
   top: 80px;
   font-family: Roboto;
   grid-area: a;
   align-self: center;
   justify-self: center;
}

.card{
    /* Select card test */
    width: 220px;
    border-radius: 20px;
    border: 20px ;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    /* background-color:#e9f5c4; */
}

.cover{

    /* image cover for select card test */
    /* display: block;
    grid-area: b;
    align-self: top center;
    justify-self: top center; */

    /* Overlay */
    position:absolute;
    width: 300px;
    height: 150px;
    top: 0px;
    left: 0px;
    /* background: #3B3735; */
    /* opacity: 0.2; */
}

.content{
    /* Content for the card test */
    display: block;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size:small;
    grid-area: b;
    align-self: center;
    justify-self: center;
}

.wrapper{
    /* Center the wrapper */
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: 80px;
    grid-template-areas: 
        ". a b a ."
        ". a b a .";
}

