body {
  background-color: #fff7f1;
  /* overflow:hidden; */
  margin: 0;
  padding: 0;
}

.Publish_Block {
  position: relative;
  margin: 0 auto;
  top: 7.5rem;
  background-color: #ffffff;
  height: 540px;
  width: 1040px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.ReleaseTitle {
  position: relative;
  top: 20px;
  left: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3a001e;
}

.AppNameFill input {
  position: relative;
  width: 320px;
  height: 38px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  top: 50px;
  left: 150px;
  color: #3a001e;
}

.AppNameFill .count1 {
  position: relative;
  width: fit-content;
  font-size: 9px;
  top: 42px;
  left: 450px;
}

.AppOrGame input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

.AppOrGame input[type='radio']:checked {
  background-color: #3a001e;
}

.AppOrGame .form-check-input1 {
  position: relative;
  left: 100px;
  width: fit-content;
}

.AppOrGame .AppBox {
  position: relative;
  top: -20px;
  left: 120px;
  width: fit-content;
}

.AppOrGame .form-check-input2 {
  position: relative;
  left: 200px;
  top: -35px;
  width: fit-content;
}

.AppOrGame .GameBox {
  position: relative;
  top: -55px;
  left: 220px;
  width: fit-content;
}

.FreeOrPaidOrRent input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

.FreeOrPaidOrRent input[type='radio']:checked {
  background-color: #3a001e;
}

.FreeOrPaidOrRent .form-check-input3 {
  position: relative;
  left: 100px;
}

.FreeOrPaidOrRent .FreeBox {
  position: relative;
  top: -21px;
  left: 120px;
  width: fit-content;
}

.FreeOrPaidOrRent .form-check-input4 {
  position: relative;
  left: 180px;
  top: -36px;
}

.FreeOrPaidOrRent .PaidBox {
  position: relative;
  top: -55px;
  left: 200px;
  width: fit-content;
}

.FreeOrPaidOrRent .form-check-input5 {
  position: relative;
  left: 260px;
  top: -70px;
}

.FreeOrPaidOrRent .RentBox {
  position: relative;
  top: -90px;
  left: 280px;
  width: fit-content;
}

.DescBox {
  position: absolute;
  top: 94px;
  left: 600px;
  width: 358px;
  height: 200px;
  margin: 0;
}

.DescBox TextArea {
  position: relative;
  top: 1px;
  left: 67px;
  width: 320px;
  height: 180px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  color: #3a001e;
  resize: none;
  overflow: auto;
}

.DescBox .count2 {
  position: absolute;
  font-size: 9px;
  top: 3px;
  left: 100%;
  top: 100%;
}
