body {
  background-color: #fff7f1;
  /* overflow:hidden; */
  margin: 0;
  padding: 0;
}

textarea {
  border-radius: 5px;
}

input {
  border: 1px solid #bbbbbb;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

input[type='radio']:checked {
  background-color: #3a001e;
}

.rti--container {
  height: 35px;
  overflow-y: scroll;
  --rti-bg: '#fff';
  --rti-border: '#ccc';
  --rti-main: '#3182ce';
  --rti-radius: '0.375rem';
  --rti-s: '0.5rem'; /* spacing */
  --rti-tag: '#edf2f7';
  --rti-tag-remove: '#e53e3e';
}

.Publish_Block {
  position: relative;
  margin: 0 auto;
  top: 7.5rem;
  background-color: #ffffff;
  height: 540px;
  width: 1040px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
