* {
  color: #3A001E;
  font-family: 'Inter', sans-serif;
  
}

.table-container{
  background-color: white;
  position: relative;
  width: 70vw;
  height: fit-content;
  top: 6.5rem;
  margin: auto; 
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: 0 auto;
}

table td, table th {
  padding: 25px;
  text-align: left;
}

table tr:hover {
  background-color: #F5F5F5;
  border-radius: 15px;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 40px;
  
}

.table-footer{
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  padding-bottom: 20px;
}

.status-button{
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
}

.status-button .table-btn-accept{
  background-color: #6FEDB7;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 0.5rem; 
  margin: 5% 5%;
  font-size: 1rem;
  cursor: pointer;
  width: 6rem;
}

.status-button .table-btn-accept:hover{
  background-color: #16DB93;
}

.status-button .table-btn-decline{
  background-color: #FF5964;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  margin: 5% 5%;
  font-size: 1rem;
  cursor: pointer;
  width: 6rem;
}

.status-button .table-btn-decline:hover{
  background-color: #EA1744;
}