* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-menu {
    position: fixed;
    top: 0;
    width: 1vw;
    background-color: #FFFFFF;
    height: 62px;
    box-sizing: border-box;
    padding: 30px 20px;
    font-family: 'Inter', sans-serif;
    z-index: 999;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    

}

.side-menu .logo img {
    position: fixed;
    top: 15px;
    left: 30px;
    cursor: pointer;
}

.side-menu .main-menu .menu-item {
    position: relative;
    top: 0px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 10px;
    color: #3A001E;
    border-radius: 7px;
    cursor: pointer;
    height: 30px;
    width: fit-content;
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 40px;
    font-weight: 700;
    /* margin-top: -20px; */
}

.side-menu .main-menu .menu-item:hover {
    background-color: #19020251;
}

.side-menu .main-menu {
    position: fixed;
    width:fit-content;
    height: auto;
    display: inline-block;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    top: 2%;
    left: 430px;
    margin: 0 auto;
    /* padding: auto; */

}







