.box-1 {
    position: fixed;
    background-color: #FFF7F1;
    height: 490px;
    width: 479px;
    top: 100px;
    left: 309px;
}

.box-1 .login_logo {
    position: relative;
    top: 40px;
    left: 50px;
}

.box-1 .login_image {
    position: relative;
    top: 100px;
    left: -5px;
}

.box-2 {
    position: fixed;
    border-color: #FFE7D4;
    border-width: 1px;
    height: 490px;
    width: 920px;
    top: 100px;
    right: 309px;
    box-shadow: 2px 3px #dadada;
}

.box-2 .SignIn {
    position: relative;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    color: #3A001E;
    top: 100px;
    left: 550px;
}

.box-2 .username {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #8C98A9;
    left: 550px;
    top: 120px;
}

.box-2 .password {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #8C98A9;
    left: 550px;
    top: 150px;
}

.box-2 .input_username input {
    font-weight: 400;
    height: 40px;
    width: 272px;
    position: relative;
    border-color: #FFE7D4;
    color: #3A001E;
    border-width: 2px;
    border-radius: 5px;
    left: 550px;
    top: 130px;
    padding-left: 10px;
}

.box-2 .input_password input {
    font-weight: 400;
    height: 40px;
    width: 272px;
    position: relative;
    border-color: #FFE7D4;
    color: #3A001E;
    border-width: 2px;
    border-radius: 5px;
    left: 550px;
    top: 160px;
    padding-left: 10px;
}

.box-2 .input_password .shown{
    position: relative;
    opacity: 50%;
    font-size: 25px;
    top: 160px;
    left: 510px;
}

.box-2 .input_password .not:hover {
    color: #FB7F4B;
    cursor: pointer;
}

.box-2 .input_password .shown:hover {
    color: #FB7F4B;
    cursor: pointer;
}

.box-2 .input_password .not{
    position: relative;
    font-size: 25px;
    top: 160px;
    left: 510px;

}

.box-2 .forgot_password {
    position: relative;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #8C98A9;
    left: 550px;
    top: 170px;
    height: fit-content;
    width: fit-content;
}

.box-2 .forgot_password:hover {
    color: #FB7F4B;
    text-decoration: underline;
    cursor: pointer;
}

.box-2 .signin_button {
    background: #FB7F4B;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    height: 40px;
    width: 272px;
    border-radius: 5px;
    position: relative;
    top: 185px;
    left: 550px;
}

.box-2 .dhaa {
    position: relative;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #8C98A9;
    left: 590px;
    top: 205px;
}

.box-2 .ca {
    position: relative;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #FB7F4B;
    left: 698px;
    top: 190px;
}

.box-2 .ca:hover {
    text-decoration: underline;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}