.box-1 {
    position: fixed;
    background-color: #FFF7F1;
    height: 490px;
    width: 479px;
    top: 100px;
    left: 309px;
}

.box-1 .login_logo {
    position: relative;
    top: 40px;
    left: 50px;
}

.box-1 .login_image {
    position: relative;
    top: 100px;
    left: -5px;
}

.box-2 {
    position: fixed;
    border-color: #FFE7D4;
    border-width: 1px;
    height: 490px;
    width: 920px;
    top: 100px;
    right: 309px;
    box-shadow: 2px 3px #dadada;
}

.box-2 .SignIn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #3A001E;
}