* {
  color: #3A001E;
  font-family: 'Inter', sans-serif;
  
}

.table-container{
  background-color: white;
  position: relative;
  width: 70vw;
  height: fit-content;
  top: 2.5rem;
  margin: 0 auto; 
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: 0 auto;
}

table td, table th {
  padding: 25px;
  text-align: left;
}

table tr:hover {
  background-color: #F5F5F5;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 40px;
  ;
}

.table-footer{
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  padding-bottom: 20px;
}